DATABASE_URL="postgresql://[user]:[password]@[host-pooler]:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://[user]:[password]@[host-direct]:5432/postgres"
JWT_SECRET="tu_clave_secreta_aqui"
FRONTEND_URL="https://tu-frontend.vercel.app"
